<h1 class="{{enabledSetting currentUrlDetection "allUrls"}}{{enabledSetting currentUrlDetection "ticketUrls"}}">Zendesk TabGrab</h1>
<p id="app-status">
</p>
<section id="settings-url-types">
  <h2>{{t "txt_popup_title_link_detection"}}</h2>
  <ul>
    <li>
      <a href="#" data-url-type="allUrls" class="{{enabledSetting currentUrlDetection "allUrls"}}">{{t "txt_popup_options_link_detection_allLinks"}}</a>
    </li>
    <li>
      <a href="#" data-url-type="ticketUrls" class="{{enabledSetting currentUrlDetection "ticketUrls"}}">{{t "txt_popup_options_link_detection_ticketLinks"}}</a>
    </li>
    <li>
      <a href="#" data-url-type="noUrls" class="{{enabledSetting currentUrlDetection "noUrls"}}">{{t "txt_popup_options_link_detection_noLinks"}}</a>
    </li>
  <ul>
</section>
<section id="settings-help">
  <h2>Info</h2>
  <ul>
    <li>
      <a href="https://github.com/zachvier/QuickTab" target="_blank">View Source on GitHub</a>
    </li>
  <ul>
</section>